

.cardList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}
/* Column Gap */
.cardList > * {
  box-sizing: border-box;
  box-shadow: 10px 10px 5px 5px #4b030f;
}
.cardList > *:not(:last-child) {
  margin-right: 32px;
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}
/* Item sizing */
.cardListItem {
  flex: 0 1 calc(33.3% - 32px);
}
