
  <!--div><h1>To-do List</h1></div>
  <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap>

    <div fxFlex="50%">
      <h2>Tasks</h2>
      <app-task-collection></app-task-collection>
    </div>    

    <div fxFlex="50%">
      <h2>Users</h2>
      <app-user-table></app-user-table>
    </div>
 
  -->




  
  <div fxLayout="row" fxLayoutAlign="start space-between" class="container">
    <div fxFlex="20" class="left-item">
      <div fxLayout="column" fxLayoutAlign="start space-between" class="container">
        <div fxFlex="fill">
          <app-user-table></app-user-table>
        <br>
        <br>
          <app-new-task></app-new-task>
        </div>
       <!-- <div fxFlex="fill">
          <app-new-task></app-new-task>
        </div>-->
      </div>
    </div>
  
    <div fxFlex="fill" class="right-item">
      <app-task-collection></app-task-collection>
 
    </div>
  </div>


